ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 260px;
    background-color:rgba(116, 185, 255,1.0) ;
    /* need fix nav bar height */
    height: 1200px; 
    /* 
    Tu es censé mettre cette valeur à 100% 
    pour qu'elle prenne l'intégralité du navigateur
    mais tu as un soucis de div quelques part je pense :)
    */
    padding: 0;
}

ul li{
    padding: 10px 20px;
}

ul a {
    color: cornsilk;
    font-size: 1.1rem; 
}

table{
    border: 1px solid black ;
    /* fix with auto margin */
    margin: 40px auto;
    /* -------------------- */
}

.table-responsive{
     overflow: hidden !important;
}

.contenu{
    display: flex ;
}

nav p{
    color: cornsilk;
    margin: 0 50px;
}

.nav_right a::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background:url(../src/images/icons/list.png) center center ;
    margin-right: 10px;
}
.addproduct::before{
    background-image: url(/src/images/icons/add.png);
}