



body{
    font-family: 'Roboto', sans-serif !important;
    background-color:rgba(223, 230, 233,1.0);
}

.navbar li{
    display: flex !important;
    justify-content: center !important;
    text-align: center;

}

p{
    font-size: 70px;
}

.collapse {
    margin-left: 20%;
    
    
}

.collapse a{
    margin: 0 25px;
}

.banniere{
    
    height: 300px;
    width: 1280px;
    background-image: url(/src/images/ban.png);
    
}
