

header{
    height: 100%;
}

body{
    
    font-family: 'Roboto', sans-serif !important;
    
    background: url("../images/background/left.png")  left no-repeat fixed ,
                url("../images/background/right.png") right no-repeat fixed;  
                background-color:rgba(223, 230, 233,1.0);            
}

.title-box{
    
    margin: 10px 0;
    font-size: 40px;
    width: max-content;
    text-align: center;
    padding: 5px 10px;
    border-radius: 8px;
    background-color:rgba(245, 246, 250,0.6) ;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0,0.5);
}

.bloc1{
    margin: 60px;
}





section p {
    font-size: 22px;
    
    text-align: center;
    
    padding: 20px 10px;
    border-radius: 8px;
    background-color:rgba(245, 246, 250,0.6) ;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0,0.5);
    margin-bottom: 20px;
}

.liseret{

    width: 50%;
    height:2px;
    border: 1px rgba(0, 0, 0,0.3) solid;
    margin:60px 0;
}

.card-contain div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}






.form-inline{
    position: absolute right;

}



.collapse {
    margin-left: 11%;
    
    
}



.banniere{
    
    height: 200px;
    
    background:  url(../images/ban.png);
    
    background-size: cover; 
}

.banniere a{
    display: flex;
    
    justify-content: center;
    padding-top: 10px;

    
}

.login,.basket{
    
    transform: translate(0,-7px)
}
.container{
    width:80%;
    
    
}



#carouselExampleIndicators{
    display: block;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-contain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border-radius: 8px;
    background-color:rgba(245, 246, 250,0.6) ;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0,0.5);
    
}

.card-boutique{
    border: 1px rgba(0, 0, 0,0.3) solid;
    border-radius: 8px;
    
}

.rate{
    display: block;
    padding: 5px 0;
    background: url(../images/icons/img_rateall.png) no-repeat;
    background-size:150px;
    background-position: center;
    height: 40px;
    
}

.card-comment{
    padding: 5px 5px;
    background-color: rgba(178, 190, 195,0.3)
    
}

.nom{
    font-weight: bold;
    font-size: 1.2rem;

}

.card-date{
    font-size: 0.8rem;
    font-style: italic;
}

.comment{
    font-size: 0.7rem;
}









/* RESPONSIVE */


@media only screen and (max-width: 993px){
    
    .logo{
        width: 20px;
    }
    
}

